
p {text-indent: 50px; line-height: 200%;}
#tei_header p {text-indent: 0px;}
#tei_file {font-family: "courier";color: #000000;}
#tei_header {font-family: "arial";font-size: 100%;}
.tei_title {text-decoration: underline; margin-top: 40px;}
.tei_pb {text-align: center; margin:40px 0px 0px 0px;font-family: "arial";}
.popover-content {text-indent: 0px;}
.footer {padding:20px;}

@media (min-width: 768px){
	.container {
		width: 768px;
	}
}